<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    {% endblock css %}
    {% block favicon %}
        <link rel="shortcut icon" href="{{ url_for("static", filename='media/favicon.svg') }}" sizes="any" type="image/svg+xml">
    {% endblock favicon %}
    <title>
        {% block title %}
            PinVote
        {% endblock title %}
    </title>
    {% block js %}
        <script src="{{ url_for('static', filename='js/flashes.js')}}" defer></script>
    {% endblock js %}
</head>
<body>
    {% block header %}
        <header>
            <span></span>
            <span class="logo">
                <img src="{{ url_for("static", filename='media/logo.svg') }}" alt="PinVote Logo">
                <a href="{{ url_for('frontend.current_poll') }}">PinVote</a>
            </span>
            <a href="{{ url_for('frontend.poll_archive') }}">Archive</a>
        </header>
    {% endblock header %}

    <main>
        {% block content %}{% endblock content %}

        {% with messages = get_flashed_messages() %}
            <div class="flash flash-blue {% if not messages %}flash-hidden{% endif %}">
                <button class="flash-close">X</button>
                <h3>Hey!</h3>
                {% for message in messages %}
                    {{ message|safe }}
                {% endfor %}
            </div>
        {% endwith %}

    </main>
</body>
</html>