
header {
    background-color: rgb(58, 136, 58); 
    box-shadow: rgba(0, 0, 0, 0.314) 2px 2px 2px;

    height: 75px;
    padding: 0px 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 80%;
}

header .logo > img {
    height: 100%;
}

header .logo > a {
    font-family: "Gabarito", sans-serif;
    font-size: xx-large;
    font-weight: 400;
}
