@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Nata+Sans:wght@100..900&display=swap');
@import url(flashes.css);
@import url(header.css);
@import url(voting.css);
@import url(archive.css);

:root {
    --font-color: antiquewhite;
    --progressbar-color: rgb(66, 187, 41);
}

body {
    margin: 0;
    color: var(--font-color);
    font-family: "Nata Sans", sans-serif;
}

body {
    background-color: rgb(92, 155, 53);
}

a {
    color: var(--font-color);
    font-weight: 600;
}

main {
    padding: 10px 25px;
}

.container-card {
    background-color: rgb(58, 136, 58);
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.289) 1px 1px 5px;
}

.minimal-window {
    width: min-content;
}

.window-background {
    border-radius: 15px;
    background-color: rgb(84, 146, 65);
    box-shadow: rgba(0, 0, 0, 0.514) 0px 1px 10px;
}

.progressbar {
    background-color: rgb(37, 97, 42);
    height: 1.8rem;
    width: 100%;

    border-radius: 5px;
    border-style: inset;
    border-width: 1px;
    border-color: rgb(84, 146, 65);
    overflow: hidden;
    transition: height 0.5s;
}

.progressbar > div {
    background-color: var(--progressbar-color);
    width: min-content;
    height: 100%;

    box-shadow: var(--progressbar-color) 2px 0px 5px;

    transition: width 1s;
}

.hidden {
    height: 0px;
    width: 0px;
    border: 0px;
    padding: 0px;

    transition: height 0.5s, width 0.5s;
}

.button {
    background-color: rgb(29, 149, 51);
    color: var(--font-color);

    border-color: rgb(19, 106, 35);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    
    text-decoration: none;
    font-weight: 600px;
    padding: 5px;

    transition: background-color 0.15s;
}

.button:hover {
    transition: filter 0.2s;
    filter: brightness(1.1);
}

.button:active {
    transition: filter 0.2s;
    filter: saturate(1.1)
}

.button:disabled, .button:hover:disabled, .button:active:disabled {
    background-color: rgb(132, 145, 120);
    color: rgb(167, 167, 167);
    border-color: rgb(167, 167, 167);
    filter: brightness(1)
}
