
.voting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 25px;
}

.voting-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 40px;

    width: 33vw;
}

.choice-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.voting-container h2 {
    margin: 0;
}

.voting-container button, .voting-container input[type='button'] {
    width: fit-content;
    padding: 8px 15px;

    color: var(--font-color);
    font-size: large;

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(29, 114, 21);

    background-color: rgb(40, 160, 29);

    transition: background-color 0.15s;

    align-self: center;
}

.voting-container button:hover, input[type='button']:hover {
    background-color: #48ad19;
}

.voting-container button:active, input[type='button']:active {
    background-color: rgb(64, 194, 12);
    transition: background-color 0.05s;
}

.vote-percent {
    display: inline-block;
    background-color: rgb(139, 204, 42);
    color: rgb(218, 238, 212);
    border-radius: 5px;
    padding: 1px 4px;
    width: 5ex;
}

input[type='text'], textarea {
    font-size: 16px;
    padding: 3px;
    background-color: #a1d19d;

    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: green;
}