{% extends 'base.html' %}

{% block js %}
    <script>
        const requestUrl = "{{ url_for('api.get_poll_list') }}"
    </script>
    <script src="{{ url_for('static', filename='js/polls/load_poll_list.js') }}" defer></script>
{% endblock js %}

{% block content %}
<div class="poll-list-container">
    <h1>Poll Archive</h1>
    <section class="poll-list" id="poll-list">
        <template id="poll-card-template">
            <div class="poll-card">
                <span class="poll-title"></span>
                <div class="poll-winner-info">
                    <p>👑</p>
                    <p class="poll-winner"></p>
                </div>
                <div class="poll-stats">
                    <p>Total votes: <span class="poll-total-votes"></span></p>
                    <p>Ending date: <span class="poll-ended-on"></span></p>
                </div>
                <a class="button">Check</a>
            </div>
        </template>
    </section>
    <input type="button" id='load-more-button' class="button" value="More">

</div>
{% endblock content %}